{%  extends 'base.html.twig' %}

{% block body %}

<h3> {{ fruit.name }} </h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
          <strong>Origine :</strong> {{fruit.origin}}
      </div>
      <div>
        <strong>Comestible :</strong>
        {% if fruit.comestible %} Oui
        {% else %} Non
        {% endif %}
      </div>
      <div>
        {% if fruit.producer %}
          <strong><a href="{{ path('producer_details', {'id' : fruit.producer.id })}}">Producteur :</a> </strong> {{fruit.producer.name}}
          <img src="{{ asset('/img/logo') ~ fruit.producer.logo }}">
        {% endif %}
      </div>
      <div>
        <strong>Détaillants : </strong>
        {% if fruit.retailors | length > 0 %}
          {% for r in fruit.retailors %}
              <div> {{r.name}} </div>
          {% endfor %}
        {% endif %}
      </div>
      <div>
        <strong>Catégories : </strong>
        {% if fruit.category | length > 0 %}
          {% for c in fruit.category %}
              <div> {{c.name}} </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <div class="col-md-6">

    </div>
  </div>
</div>

{% endblock %}
