{%  extends 'base.html.twig' %}

{% block body %}
<h2>Fruits</h2>
<button id="btnHideForm" type="button">Masquer le formulaire</button>

<form class="form-inline well" method="POST">
  <div class="form-group">
    <input type="text" name="name" placeholder="Nom">
  </div>

  <div class="form-group">
    <input type="text" name="origin" placeholder="Origine">
  </div>

  <div class="form-group">
    <label for="comestible">comestible</label>
    <input type="checkbox" name="comestible">
  </div>

  <div class="form-group">
    <select name="producer">
      <option value="0">Selectionner un producteur :</option>
      {% for p in producers %}
        <option value="{{ p.id }}">{{ p.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    {% for c in categories %}
      <input type="checkbox" value="{{ c.id }}" name="categories[]"> {{ c.name }}
    {% endfor %}
  </div>
  <input type="submit" name="submit">

</form>

<hr>

<table class="table table-bordered table-striped">
  <tr>
    <th>Nom</th>
    <th>Origine</th>
    <th>Comestible</th>
    <th>Producteurs</th>
    <th style="display: none">Détaillants</th>
    <th>Actions</th>
  </tr>
  {% for f in fruits %}
    <tr>
      <td>{{f.name}}</td>
      <td>{{f.origin}}</td>
      <td>
        {% if f.comestible == 1 %}
        Oui
        {% else %}
        Non
        {% endif %}
        </td>
        <td>
          {#
            La proprieté producer ne vaut pas NULL:
            on peut accéder à la propriété name de l'objet producer
          #}
          {% if f.getProducer() %}
            {{ f.getProducer().name }}
          {% endif %}
        </td>
        <td style="display: none">
          {% if f.retailors | length > 0 %}
            {% for r in f.retailors %}
            <div>{{ r.name }}</div>
            {% endfor %}
          {% endif %}

        </td>
      <td>
        <a class="btn btn-default btn-xs" href="{{ path('fruit_details',{'id' : f.id}) }}">Détails</a>
        <a class="btn btn-primary btn-xs" href="{{ path('fruit_update', {'id': f.id}) }}">Modifier</a>
        <a class="btn btn-danger btn-xs" href="{{ path('fruit_delete', {'id': f.id}) }}">Supprimer</a>
      </td>
    </tr>
  {% endfor %}
</table>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{asset('js/script.js')}}"></script>
{% endblock %}
