{% extends 'base.html.twig'%}

{% block css %}
<link rel="stylesheet" href="{{asset('css/styles.css')}}">
{% endblock %}

{% block body %}
  <table class="table table-striped table-bordered">
    {% for f in fruits %}
    <tr>
      <td>{{f.name}}</td>
      <td>{{f.origin}}</td>
      <td>
        {% if not f.comestible %}
          <span class="not-comestible"> Dangereux ! </span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
