{% extends 'base.html.twig' %}

{% block css %}
<style>
.not-comestible {
  color: white;
  font-weight: bold;
  background-color: orange;
}
</style>
{% endblock %}

{% block body %}
<!-- <h1>Liste de legumes dynamique (twig)</h1>  -->
<!-- crée des instruction type block ex: if, for -->
<h1>{{ title }}</h1>
<p>Message en provenance du controller: <strong>{{ message }}</strong></p>

<ul>
  <li>Bettrave</li>
  <li>Maïs</li>
  <li>Brocoli</li>
</ul>
<ul>
  {% for legume in legumes %}
  <li>{{ legume }}</li>
  {% endfor %}
</ul>
<select>
  {% for fruit in fruits %}
  <option>{{ fruit.name }}</option>
  {% endfor %}
</select>

<table class="table table-bordered table-striped">
  <th>Nom</th>
  <th>Origine</th>
  <th>Comestible</th>
  {% for fruit in fruits %}
  <tr>
    <td>{{ fruit.name }}</td>
    <td>{{ fruit.origin }}</td>
    <td>
      {% if not fruit.comestible  %} <span>Non </span> {% endif %} comestible
    </td>
  </tr>
  {% endfor %}
</table>

{% if toto %}
  <p>Toto est vrai</p>
{% else %}
  <p>Toto n'est pas vrai ( vaut false ou NULL)</p>
{% endif %}

<table class="table table-bordered table-striped">
  <th>Nom</th>
  <th>Origine</th>
  <th>Comestible</th>
  <th>Lien</th>
  {% for f in fruits2 %}
  <tr>
    <td>{{ f.name }}</td>
    <td>{{ f.getOrigin() }}</td>
    <td>{% if  f.comestible == true %}
          <span>Aucun risque connu !</span>
        {% else %}
          <span class="not-comestible">Dangeureux !</span>
        {% endif %}
    </td>
    <td>{% if f.wiki != '' %}
        <a href="{{ f.wiki }}">{{ f.name }}</a>{% else %} <span>Aucun lien connu</span> {% endif %}
    </td>
  </tr>
{% endfor %}
</table>
{% endblock %}
